// Import page-specific CSS files here.
@import "home";

a:hover {
  text-decoration: none;
  opacity: 0.7;
}



.section-container {
  // width: 0 auto;
  width: 800px;
  margin-left: 200px;
  margin-top: 60px;
}

.main-page {
  // width: 100vh;
  display: flex;
}


.section-container h1{
  font-family: Verdana;
  font-size: 16px;
  color: #339999
}

.title h2 {
  font-family: Times;
  font-size: 24px;
  color: #CC0000;
}

.title p {
  font-family: Verdana;
  font-size: 12px;
  color: #CC0000;
}

.text h2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  color: #666666;
}

.text p,
.text li{
  font-family: Verdana;
  font-size: 11px;
  color: #505050;
  padding:0px;
  margin:0px;
}


.office-picture {
  width: 350px;
}

.event-picture {
  width: 500px;
}

.reference-picture {
  width:50%
}

.reference-categories {
  display:flex;
  text-align:center;
}

.reference-categories p {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: #CC0000;
  margin-bottom: 0px;
  margin-top: 10px;

}

.reference-carousel {
  width: 50%; // ca saccade sinon
  text-align: center;
}

.hidden {
  display: none;
}

@media(max-width: 767.98px) {
    // Test navbar-top, clash with other parameters
  // .main-page {
    // width: 100vh;
    // display: block;
  // }

  .reference-categories {
    display:block;
    text-align:left;
  }

  .reference-carousel{
    width: 100%;
  }

  .office-picture {
    width: 200px;
  }

  .section-container {
    margin-left: 10px;
    margin-top: 130px;
    max-width: 300px;
  }

  .event-picture {
    width: 300px;
  }
}
