<div class="bg-white py-5">
  <div class="container">
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center text-center">
        <img class="card-img-top rounded" src="https://source.unsplash.com/random/300x200" alt="Card image cap" style="width:60%">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear">
        <h4>Activités - domaines</h4>
        Etudes de conception depuis l'avant projet jusqu'au dossier d'appel d'offres et suivi de chantier
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center order-lg-last text-center">
        <img class="card-img-top rounded" src="https://source.unsplash.com/random/300x199" alt="Card image cap" style="width:60%">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear">
        <h4>Nos domaines</h4>
        Réalisation des installations en génie climatique, en plomberie-sanitaire et en éléctricité
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center text-center">
        <img class="card-img-top rounded" src="https://source.unsplash.com/random/299x200" alt="Card image cap" style="width:60%">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear" >
        <h4>Nos missions</h4>
        Assistance à la maitrise d'ouvrage : accompagnement de la conception du projet à l'explotation du site
        <p>Maitrise d'œuvre : suivi des projets depuis le concours jusqu'à la réception du chantier</p>
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center order-lg-last text-center">
        <img class="card-img-top rounded" src="https://source.unsplash.com/random/299x201" alt="Card image cap" style="width:60%">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear" >
        <h4>Notre secteur d'activité</h4>
        Batiments tertiaires industriels ou résidentiels et collectifs
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center text-center">
        <img class="card-img-top rounded" src="https://source.unsplash.com/random/299x202" alt="Card image cap" style="width:60%">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear" >
        <h4>Notre philosophie</h4>
        Solution sur mesure, respect des délais, des coûts et de l'impact environnemental.
      </div>
    </div>
  </div>
</div>
