<div class="section-container">
  <h1>Climatic, electric, energetic and environmental engineering</h1>

  <div class="title pt-4">
    <h2>presentation of the company</h2>
  </div>

  <div class="text pt-4">
    <p>In the field of Thermal Environment (Heating, Ventilation, Air-conditioning and Smoke clearing) and of Sanitary Facilities (Plumbing), I am able to propose all the missions including the control of design from the feasibility of a project until the delivery of a job.</p>
    <p class="pt-4">According to the complexity of the project and the wishes of the customer, the missions can be declined as follows:</p>
    <ul>
      <li>Studies of programming defining the needs of the users of buildings;</li>
      <li>Audits and thermal diagnoses of the existing buildings;</li>
      <li>Recommendations in the technico-economic field and studies (investment, exploitation, profitability);</li>
      <li>Outline project with pilot study of various possible solutions;</li>
      <li>Estimate or detailed figuring of the labor costs;</li>
      <li>Assistance with the architect for the deposit of a permit building or a declaration of work;</li>
      <li>Assistance with the deposit of a declaration of installation classified for environmental protection (boiler room, refrigerating production…) ;</li>
      <li>Summary preliminary draft for definition of the services;</li>
      <li>Detailed preliminary draft for the dimensioning of the installations;</li>
      <li>File-project and Tender documents of the companies;</li>
      <li>Assistance in the making of the markets with comparative analysis of the estimates of companies;</li>
      <li>Control of the execution documents of the companies;</li>
      <li>Control of the works in course of execution;</li>
      <li>Works preliminary to the reception;</li>
      <li>Finalization of the works of the companies;</li>
      <li>H.Q.E. steps
    </ul>
    <p>My skills are particularly orientated towards the global or partial construction or restoration of tertiary, industrial or residential buildings, such as buildings of offices, residences hotel, shops and banking agencies, space of exposure and museographic.</p>
    <p class="pt-4">I’m working for building owners, patrimonial investors, property developers, project superintendents, architects, or contractors in important research departments.</p>
    <p>My activity is covered by a professional insurance EUROMAF (Mutual of the French Architect).</p>
    <p class="pt-4">My recent achievements are inter alia:</p>
    <ul>
      <li>New building of the Offices and Workshops of 14.000 m ² with certification HQE and THPE in Paris (75013) for Real Vinci;</li>
      <li>Banking agencies CIC and Mutual credits (37 agencies treated from 150 to 300 m ² by agency) at Paris and Ile de France for the Banks CIC IDF and Mutual credit;</li>
      <li>Construction of the space of Temporary exhibition to the Museum of Pierre with Saint Maximim for the Town of Maximim Saint;</li>
      <li>Repair of 7 sub-stations in the Clairval Institute in Bièvres for ESSOR</li>
      <li>Installation of a space museographic of 2.000 m ² in two old lace manufactures to the Museum of lace with Retournac (43130) for the Town of Retournac;</li>
      <li>Design engineering of a new building of a hotel controls in France of 110 rooms of the new concept “Continuation hotel” of 3.000 m ² (with project of international establishment) for Group ACCOR;</li>
      <li>Feasibility study of the heat pump on ground water of the site of maintenance and putting up of tramway T2 of 3 700 m² in Colombes for the RATP</li>
    </ul>
    <p>Feasibility study of the heat pump on vertical probes for the transformation of the Manor of Sauvegrain (classified building) into hotel 3 stars of 1.300 m ² to St Lambert of Wood (78) for the Association of November 23.</p>
    <p class="pt-4">Studies in the thermics for ten projects mainly in Ile de France:</p>
    <ul>
      <li>Eurosquare Bureaux of 15.000 m2 to St Ouen;</li>
      <li>Biopark - 2 biotechnic buildings Offices and 3 buildings - 30.000 m2 in Paris 13th;</li>
      <li>Project Sun & Moon - 14 buildings of residences haussmanniens of approximately 50.000 m2 located at the République avenue in Marseilles;</li>
      <li>Foundry Manor Industries 46.000 m2 with Outreau;</li>
      <li>Hotel Ambassador - 16 Bd Haussmann in Paris;</li>
      <li>Office building of 5.000 m2 with Charenton-the-Bridge;</li>
      <li>Office buildings 5.000 and 7.000 m2 with 5/7 rue Scribe in Paris;</li>
      <li>Office building - 16 rue Washington in Paris;</li>
      <li>Office building - Turn Eurocity III - Avenue Willy BRANDT in Lille.</li>
    </ul>
  </div>
</div>
