<div class="section-container">
  <h1>Ingénierie en génie climatique, électrique,
  énergétique et environnemental</h1>

  <div class="title pt-4">
    <h2>documents</h2>
    <p class="pt-4">
      <%= link_to "/pdf/presentation.pdf", target:"_blank", class:"" do %>
        Présentation
      <% end %>
    </p>
    <p>
      <%= link_to "/pdf/moyens_bet.pdf", target:"_blank", class:"" do %>
        Moyens société
      <% end %>
    </p>
    <p>
      <%= link_to "/pdf/references2016.pdf", target:"_blank", class:"" do %>
        Références Phung Consulting
      <% end %>
    </p>
  </div>
</div>
