<div class="section-container">
  <h1>Ingénierie en génie climatique, électrique,
  énergétique et environnemental</h1>

  <div class="text text-center pt-5">
    <p class="text pb-2 text-center">Vœux 2019</p>
    <%= image_tag "phung_voeux19.jpg", alt: "Bonne année 2019", class:"event-picture" %>
  </div>

  <div class="text pt-4 text-center">
    <p class="text pb-2">Vœux 2018</p>
    <%= image_tag "phung_voeux18.jpg", alt: "Bonne année 2018", class:"event-picture" %>
  </div>
</div>
