<div class="section-container">
  <h1>Ingénierie en génie climatique, électrique,
  énergétique et environnemental</h1>

  <%= image_tag "phung_vincennes.jpg", alt: "phung_vincennes", class:"office-picture pt-xl-5 pt-lg-4 pt-md-3 pt-sm-3" %>

  <div class="text pt-4">
    <p>Bureaux :</p>
    <p>110, rue de Fontenay 94300 Vincennes</p>
    <p>Tél : +33 (0)1 48 59 12 96</p>
    <p>email : <%= link_to "contact@phungconsulting.fr", "mailto:contact@phungconsulting.fr"  %></p>
  </div>

  <div class="text pt-4">
    <p>Lydie PHUNG, gérante</p>
    <p><small>Code APE/NAF : 7112 B - Ingénierie, études techniques</p>
    <p><small>N° SIREN : 492 583 539 RCS Créteil</small></p>
    <p><small>EURL au capital de 30 000€</small></p>
    <p><small>TVA : FR 55 49 25 83 53 – TVA sur encaissement</small></p>
    <p><small>EUROMAF-ID : 7383027/E/10 - N° POLICE : 7003094/S</small></p>
  </div>

</div>
