.sidebar{
  width: 200px;
  height: 100vh;
  // background-color: #4B3949;
  background-repeat: no-repeat;
  top: 0;
  position: sticky;
}


.sidebar-link{
  color:darkblue;
}

.selector {
  transition: all 0.7s ease;
}

.selector.active p {
  color: #FFFFFF !important;
}


.selector.active p:hover {
  color: black !important;
}

.selector :hover {
  background-color: white;
  transition: all 0.3s ease;
}

.selector p:hover {
  opacity:0.7;
  cursor: pointer;

}

.selector.active p:hover {
  opacity:1 !important;
}

@media(max-width: 767.98px){
  // Test navbar-top, clash with other parameters
  // .sidebar{
  //   width: 120%;
  //   height: 270px;
  //   background:none;
  //   background-image:none;
  // }

  // .sidebar-links{
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-content: space-around;
  // }

  // .sidebar-link {
  //   padding:10px;
  // }
  .sidebar{
   width: 130px;
  }
  // .navbar-lewagon {
  //   justify-content: space-between;
  //   background: white;
  // }

  // .navbar-lewagon .navbar-collapse {
  //   flex-grow: 0;
  // }

  // .navbar-lewagon .navbar-brand img {
  //   width: 40px;
  // }

}
